.bar-open {
    background-color: #807876;
    color: #fff;
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-out;
  }

  .bar-closed {
    background-color: #807876;
    color: #fff;
    height: 100vh;
    width: 50px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-out;
  }

  .sidebar-open {
    background-color: #d9d9d9;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sidebar-closed {
    background-color: #807876;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .LogOutButton-open {
    display: block;
    padding: 15px;
    font-size: 16px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }

  .LogOutButton-closed {
    display: none;
  }

  .SidebarButton-open{
    margin: 10px 5px 10px 5px;
    padding: 10px;
    border-radius: 20px;
    text-align: start;
    background-color: white;
    font-family: 'Inter';
    font-size: 15px;
    transition: 0.1s linear;
    max-height: 50px;
    text-wrap: nowrap;
  }

  .SidebarButton-closed{
    display: none;
  }

  
  .SidebarButton-open:hover {
    background-color: rgb(86, 86, 213);
    color: white;
  }

  .SidebarButton-open:active {
    transform: scale(0.95);
  }

  .openBtn-open {
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    padding: 10px;
    background-color: #807876;
    color: #fff;
    border: none;
    align-items: center;
  }

  .openBtn-closed {
    font-size: 20px;
    cursor: pointer;
    width: 100%px;
    padding: 10px;
    background-color: #807876;
    color: #fff;
    border: none;
  }
