.view-employees-container {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/src/Components/Images/top-view-desk-assortment-with-copy-space.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; 
  margin-left: 200px;
}

.view-employees-header {
  margin-left: 20px;
  margin-top: 0;
  padding-top: 30px;
  font-weight: 800;
}

form {
  flex: 1;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label-input-group {
font-weight: 1900;
font-size: large;
}

.label-input-group {
  font-weight: bold;
}

.input-field {
  width: 40%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin: 15px;
  margin-bottom: 60px;
}

.search-button{
  padding: 10px 15px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.search-button:hover,
.add-employee-button:hover {
  background-color: #2fdada;
}

.details-heading {
  margin-top: 20px;
}

.employee-details-table {
  width: 55%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.employee-details-table th,
.employee-details-table td {
  padding: 12px;
  text-align: left;
  border-right: 5px solid #D9D9D9;
}

.employee-details-table th:last-child,
.employee-details-table td:last-child {
  border-right: none;
}

.employee-details-table th {
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50;
}

.employee-details-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

.employee-details-table tbody tr:hover {
  background-color: #e0e0e0;
}

.property {
  font-weight: bold;
  font-size: large;
}

.property-value {
  font-weight: bold;
  font-size: large;
}

.update-button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.update-button:hover {
  background-color: orange;
  color: black;
}

.add-employee-button{
  padding: 10px 15px;
  cursor: pointer;
  background-color: #2fdada;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 20%;
}
.add-employee-button:hover {
  background-color: yellow;
  color: black;
}


