  /* Font Import */
  @font-face {
    font-family: 'Michroma';
    src: url('../Fonts/Michroma/Michroma-Regular.ttf') format('truetype'); /* Specify the correct format */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../Fonts/Inter/static/Inter-Regular.ttf') format('truetype'); /* Specify the correct format */
    font-weight: normal;
    font-style: normal;
  }

/* Image */
.image-centered {
    margin-top: 10%;
    width: 100%;
    height: auto;
    margin-bottom: 2%;
  }
/* Containers */
  .stack {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    width: 20%;
    min-width: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-bottom: 7%;
  }

  .input-container p {
    font-family: 'Inter', 'Sans-serif', sans-serif;
    font-size: 1.1vw;
  }

  .input-container-m {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
  }

  .input-container-m p {
    font-family: 'Inter', 'Sans-serif', sans-serif;
    font-size: 1.1vw;
  }
/* Inputs */
  .custom-input {
    height: 2.5vw;
    width: 100%;
    font-size: 1.2vw;
    border-radius: 30px;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;   
  }

  .custom-input:focus {
    outline-style: none;
  }

/* Buttons */

  .button-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  .button{
    cursor: pointer;
    background-color: #5E5959A1;
    color: white;
    border-radius: 30px;
    border-style: none;
    width: 8vw;
    font-size: 0.9vw;
    height: 2vw;
    padding-right: 15px;
    background-image: url('../assets/Register/plus-circle.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20%;
    background-position-x: 87%;
    min-width: 40px;

    transition: all 0.1s ease;
  }

  .button:hover{
    background-color: #3a3535a1;
  }
  
  .button:active{
    transform: scale(0.8);
  }

/* Links */

  .info {
    margin-top: 7%;
    font-family: 'Inter', 'sans-serif';
    font-size: 0.9vw;
  }

  .link {
    text-decoration: none;
    font-family: 'Inter', 'sans-serif';
    color: black;
  }

  .link:hover {
    transform: scale(1.1);
    text-decoration: underline;
 }

 

